
.titre{
  text-align: center;
  margin-top: 5vw;
  margin-bottom: 2vw;
  font-size: 5vw;
}
a,a:visited{
  text-decoration: none;
}

span {
  display: inline-block;
  vertical-align: middle;
}
.st{
  text-align: center;
}

.mic{
  max-width: 50vw;
  margin: auto;
  display: block;
}
.logo{
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100px;
  padding: 20px
}
html, body {
    margin: 0;
    height: 100%;
    overflow: auto;
    text-decoration: none;
    font-family: "Nunito", serif;
    background-image: url("../images/micro-a.jpg");
background-attachment: fixed;
background-size: 100%;
}
.contnav{
  position: sticky;
  top:0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: right;
}
.btnav{
  padding: 3px;
  color: black;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.1s;
  margin: 5px 2px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: whitesmoke
}

.btnav:hover {
  /*Quand on passe sa souris sur le bouton*/
  transform: scale(1.1); /*Le bouton s'agrandit*/

  cursor: pointer; /*Met le pointeur de souris dans la bonne forme*/
}
.mic{
  border-radius:20px;
  max-width: 50vw;
  grid-area: a;
}
.pres{
  background-color: whitesmoke;
  margin: 7vw;
  padding: 15px;
  box-shadow: 2vw 2vw 20vw black;
  border-radius: 10px;
  font-size: 20px;
  grid-area: b;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fancy{
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw;
  grid-template-rows: 10vw 10vw 10vw 10vw;
  grid-template-areas: 
  "a b c d"
  "e f g h"
  "i j k l"
  "m n o p";

  justify-content: center;
  gap: 15px;
}
.fancy>div{
  background-color: whitesmoke;
  border-radius: 100%;
  font-size: 1.75vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*Les élémements du tableau*/
.elt1{
  grid-area: b;
}
.elt2{
  grid-area: c;
}
.elt3{
  grid-area: e;
}
.elt4{
  grid-area: h;
}
.elt5{
  grid-area: i;
}
.elt6{
  grid-area: l;
}
.elt7{
  grid-area: n;
}
.elt8{
  grid-area: o;
}
.sbs{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 
  "a b";
}
@media (orientation: portrait) {
  .sbs {
    grid-template-areas:
    "a"
    "b";
    grid-template-columns: 100%;
  }
}
.sbs>img{
  grid-area: a;
  justify-self: center;
  vertical-align: middle;
  display: flex;
}
.sbs>div{
  grid-area: b;
}
.cont{
  text-align: center;
}
.wave{
  /* 0 0 = la position / auto 150px = la taille de l'image*/
  background: 0 0 / auto 30vw url("../images/wave-2.png") repeat-x;
  padding: 150px 40px 80px;
  background-size: 15%;

}
.colored{
  font-size: 30px;
  background-color: paleturquoise;
  border-radius: 100px;
  padding: 10px;
}
.mcont{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mtitre{
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: paleturquoise;
  border-radius: 50px;
  padding: 5px;
}
.maudio{
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
}
.visage{
  max-width: 25vw;
  margin: auto;
  border-radius: 50px;
}
.msub{
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 15px;
  background-color: white;
  border-radius: 50px;
  padding: 5px;
}
.selected{
  background-color: paleturquoise !important;
}
.selected:hover{
  cursor: not-allowed;
}